= simple_form_for(@workshop) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title,label: false,placeholder: "Workshop Name"
    = f.input :content,label: false,placeholder: "More about the workshop.."
    = f.input :cover


  .form-actions
    = f.button :submit, class: "btn btn-primary pull-right"
