.co
	.row
		.container
			.col-md-6.col-md-offset-3.form
				=image_tag @admin.avatar.url(:thumb),class: 'img-rounded dp thumbnail center-block'
				%h1.center
					%i.fa.fa-mortar-board
					= @admin.name
				%p.center
					%em= @admin.email
				%p.center
					+91-
					= @admin.phone_number
				%p.center
					Mentor in
					= @admin.workshop.title

				%p.center
					%i.fa.fa-clock-o
					Joined on
					=@admin.created_at.strftime("%B %d, %Y")
				%hr
				- if @admin.about != nil
					%h2.center About Me
					.coontainer
						%p=simple_format(@admin.about)
				-if @admin.facebook != nil && @admin.twitter != nil && @admin.linkedin != nil
					%hr
					%h2.center Contact me!
					%h1
						-if @admin.facebook != nil
							=link_to "http://facebook.com/#{@admin.facebook}" do
								%i.fa.fa-facebook
						-if @admin.twitter != nil
							=link_to "http://twitter.com/#{@admin.twitter}" do
								%i.fa.fa-twitter
						-if @admin.linkedin != nil
							=link_to "#{@admin.linkedin}" do
								%i.fa.fa-linkedin
				-if admin_signed_in? and current_admin.id = @admin.id	
					.center
						=link_to 'Edit Profile', edit_admin_registration_path, class: "btn btn-primary"