%br
%br
%br
.row
  .col-sm-4.col-sm-offset-4.form
    %h2.center Become a captain
    %hr
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name, required: true,label: false, placeholder: "Name"
        = f.input :date_of_birth, required: true
        = f.input :avatar
        %hr
        = f.association :workshop, required: true
        %hr
        = f.input :email, required: true, autofocus: true,label: false, placeholder: "Email"
        = f.input :password, required: true,label: false, placeholder: "Password (8 characters minimum)"
        = f.input :password_confirmation, required: true,label: false, placeholder: "Confirm Password"
        %hr
      .form-actions
        = f.button :submit, "Sign up", class: "btn btn-primary pull-right"
    = render "admins/shared/links"
