.co
	.row
		.container
			.col-md-6.col-md-offset-3.form
				=image_tag @user.avatar.url(:thumb),class: 'img-rounded dp thumbnail center-block'
				%h1.center
					%i.fa.fa-user
					= @user.name
				%p.center
					%em= @user.email
				%p.center
					+91-
					= @user.phone_number
				%p.center
					Mentee in
					= @user.workshop.title

				%p.center
					%i.fa.fa-clock-o
					Joined on
					=@user.created_at.strftime("%B %d, %Y")
				- if @user.about != nil
					%hr
					%h2.center About Me
					.coontainer
						%p=simple_format(@user.about)
				-if @user.facebook != nil && @user.twitter != nil && @user.linkedin != nil
					%hr
					%h2.center Contact me!
					%h1
						-if @user.facebook != nil
							=link_to "http://facebook.com/#{@user.facebook}" do
								%i.fa.fa-facebook
						-if @user.twitter != nil
							=link_to "http://twitter.com/#{@user.twitter}" do
								%i.fa.fa-twitter
						-if @user.linkedin != nil
							=link_to "#{@user.linkedin}" do
								%i.fa.fa-linkedin

				-if user_signed_in? and current_user.id = @user.id	
					.center
						=link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-primary"
				