= simple_form_for(@contribution) do |f|
  = f.error_notification

  .form-inputs
    = f.association :workshop
    = f.input :title
    = f.input :content

  .form-actions
    = f.button :submit,class: "btn btn-primary pull-right"
= link_to 'Back', contributions_path, class: "btn btn-default pull-left"
%br
%br
