%br
%br
%br
.row
  .col-md-8.col-md-offset-2.form
    %p#notice= notice

    %h3.center
      = @forum_thread.title
      %hr

    #comments
      %h5.caption#comments-count
        =pluralize(@responses.count, "Response")
      %hr
        -@forum_thread.responses.each do |comment|
          -if comment.user_id ==nil
            #admin_comment
              %p
                =image_tag comment.admin.avatar.url(:thumb), class: "img-circle avatar"
                =link_to comment.admin.name, admin_path(comment.admin.id)
                =comment.content
              %p.pull-right= time_ago_in_words(comment.created_at)
              %hr
            %br
          -else
            %p
              =image_tag comment.user.avatar.url(:thumb), class: "img-circle avatar"
              =link_to comment.user.name, user_path(comment.user.id)
              =comment.content
            %p.pull-right= time_ago_in_words(comment.created_at)
            %hr
      =render 'responses/form'

    = link_to 'Edit', edit_forum_thread_path(@forum_thread),class: "btn btn-primary pull-left" if current_user == @forum_thread.user and user_signed_in?
    = link_to 'Back', forum_threads_path, class: "btn btn-default pull-left"

%br
