!!!
%html{lang: "en"}
  %head
    
    /========================================== Used for bootstrap ======================================================
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
    %meta{:content => "grey", :name => "theme-color"}/
    
    /====================================================================================================================
    
    %title Mycaptain
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    
  


  %body


    #wrapper
      %nav.navbar-custom.navbar.navbar-fixed-top.navbar-default{role: "navigation"}

        .container
          .navbar-header
            .dropdown.navbar-toggle.pull-left
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                %br
                %span.glyphicon.glyphicon-align-justify
              %ul.dropdown-menu
                %br
                %li
                  %a
                    %span.glyphicon.glyphicon-align-justify
                %br

                -if !(user_signed_in?) and !(admin_signed_in?)
                  %li
                    %a{href: new_user_session_path}
                      %span.fa.fa-sign-in
                      Sign In
                    %br
                  
                  %li
                    %a{href: new_admin_session_path}
                      %span.fa.fa-mortar-board
                      Mentor?
                    %br

                - if (user_signed_in?) && !(admin_signed_in?)
                  %li
                    %a{href: posts_path}
                      %span.fa.fa-files-o
                      Posts
                    %br
                  %li
                    %a{href: forum_threads_path}
                      %span.fa.fa-users
                      Workshop Forum
                    %br
                  %li
                    %a{href: new_contribution_path}
                      %span.fa.fa-pencil
                      Contribute
                    %br
                  %li
                    %a{href: admins_path}
                      %span.fa.fa-mortar-board
                      Captains
                    %br
                  %li
                    %a{href: user_path(current_user)}
                      %span.fa.fa-user
                        Profile
                  %hr
                  %li
                    =link_to destroy_user_session_path, method: :delete do
                      %span.fa.fa-sign-out
                      Sign Out
                

                - if (admin_signed_in?) && !(user_signed_in?)
                  %li
                    %a{href: workshop_path(current_admin.workshop)}
                      %span.fa.fa-users
                      My Workshop
                    %br
                  %li
                    %a{href: posts_path}
                      %span.fa.fa-files-o
                      My Posts
                    %br
                  %li
                    %a{href: new_post_path}
                      %span.fa.fa-pencil
                      New Post
                    %br
                  %li
                    %a{href: new_workshop_path}
                      %span.fa.fa-university
                      New Workshop
                    %br
                  %li
                    =link_to users_path do
                      %span.fa.fa-users
                      Mentees
                    %br
                  %li
                    %a{href: admin_path(current_admin)}
                      %span.fa.fa-user
                        Profile
                      %br
                  %hr
                  %li
                    =link_to destroy_admin_session_path, method: :delete do
                      %span.fa.fa-sign-out
                      Sign Out
                  
            .navbar-brand
              = link_to root_path do 
                = image_tag "logo1.png"
          

          - if !(user_signed_in?) && !(admin_signed_in?)
            .collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a{href: statics_about_path}
                    %span
                      %i.fa.fa-tasks
                      Features
                %li
                  %a{href: "http://www.theclimber.in"}
                    %span
                      %i.fa.fa-copyright
                      The Climber&trade;
                %li
                  %a{href: new_user_session_path}
                    %span
                      %i.fa.fa-sign-in
                      Sign In
                
          

          -elsif user_signed_in? && !(admin_signed_in?)
            .collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a{href: forum_threads_path}
                    %span
                      %i.fa.fa-users
                      Worshop Forum
                %li
                  %a{href: new_contribution_path}
                    %span
                      %i.fa.fa-pencil
                      Contribute
                %li
                  %a{href: admins_path}
                    %span
                      %i.fa.fa-mortar-board
                      Captains
                %li
                  =link_to destroy_user_session_path, method: :delete do
                    %span.fa.fa-sign-out
                    Sign Out
                %li
                  %a{href: user_path(current_user)}
                    %span
                      =image_tag current_user.avatar.url , class: "img upar"
                      Profile
          

          -elsif admin_signed_in? && !(user_signed_in?)
            .collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a{href: new_post_path}
                    %span
                      %i.fa.fa-pencil
                      New Post
                %li
                  %a{href: new_workshop_path}
                    %span
                      %i.fa.fa-university
                      New Workshop
                %li
                  %a{href: users_path}
                    %span
                      %i.fa.fa-users
                      Mentees
                %li
                  =link_to destroy_admin_session_path, method: :delete do
                    %span.fa.fa-sign-out
                    Sign Out
                %li
                  %a{href: admin_path(current_admin)}
                    %span
                      =image_tag current_admin.avatar.url,class: "img upar" 
                      Profile
              
        / /.navbar-collapse
      -if user_signed_in? or admin_signed_in?
        %br
        %br
        %br
        = yield
      -else
        =yield
