%br
%br
%br
%br
%br
.row
  .col-md-4.col-md-offset-4.form
    %h2.center Become a Sailor, today!
    %hr
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true,label: false,placeholder: "your email id"
        = f.input :name, required: true,label: false,placeholder: "your name"
        = f.association :workshop, required: true,label: "Workshop"
        = f.input :date_of_birth, required: true
        = f.input :password, required: true,label: false,placeholder: "your new password (8 characters minimum)"
        = f.input :password_confirmation, required: true,label: false,placeholder: "confirm your new password"
      .form-actions
        = f.button :submit, "Sign up",class: "btn btn-primary pull-right"
%br




    
